name: Chart build and publish

on:
  push:
    branches:
    - master
    - fix/auto-release

jobs:
  chart-lint-build-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4

    - name: Fetch history
      run: git fetch --prune --unshallow

    - name: Run chart-testing (lint)
      id: lint
      uses: helm/chart-testing-action@v2.1.0
      with:
        config: .github/ct-lint.yaml
        command: lint

    - name: Helm build packages
      run: sudo ./build.sh

    - name: Commit files
      run: |
        DIST_DIR=.dist
        CURRENT_BRANCH=${GITHUB_REF#refs/heads/}
        TARGET_BRANCH=gh-pages
        REMOTE_REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"

        git config --local user.email "action@github.com"
        git config --local user.name "Auto Release Bot"
        git status
        git add $DIST_DIR
        git commit -m "[skip ci] Build and Publish Charts"
        git push $REMOTE_REPO $CURRENT_BRANCH
        git subtree split --prefix $DIST_DIR -b $TARGET_BRANCH
        git push -f ${REMOTE_REPO} $TARGET_BRANCH:$TARGET_BRANCH
